:root {
  
  --darkgray: #474543;
  --gray: #978b7b;
  --orange: #ff9000;
  --cian: #037c03;
  --yellow: #dca305;
  --terracota: rgb(238, 93, 9);
  --white: #fff;
  --green: #5ea862;
  --ligthgray: #b8b5b2;
}


* {
  margin: 0;
  padding: 0;
  box-sizing:content-border;
  text-indent: 0;
  font-family: 'Manjari', sans-serif;

}

.container {
  width: auto;
  margin-bottom: 30px;
  
}


/*NavBar*/

#ver-pedido {


    color: var(--white);
    padding: 4px 14px;
    padding-top: 11px;
    border-radius: 4px;
    transition: all 0.3s easy-out;
    background: var(--darkgray);
    text-decoration: none;

}

#ver-pedido:hover{

  background: var(--ligthgray);
  color: var(--white);
}

body {
  
 
  /*background-image: url("../Images/fondo.png");
  background-repeat: repeat;
  background-position: 0 0;*/
  min-width: 300px;
  line-height: 1.42857143;
  color: #878787;
  min-height: 100vh; /*Importante para el footer alineado abajo*/
  display: flex;
  flex-direction: column;
  align-items: left;
 
  
  
}



/*Navegador*/

.nav-container{ 
  width: 100%;
  height: 80px;
  background-color: var(--gray); 
}
   


.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  max-width: 1720 px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid transparent ;
  border-bottom-color: #fff;
  position:relative;
}

#navbar-logo{
  color: var(--white);
  justify-self: right;
  margin-left: 20px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 1em;  
}


#mobile-menu {  
  position: absolute;
  top:20%;
  right: 5%;
  transform: translate(5%, 20%);
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){

  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){

  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background: var(--white);
  display: none;
  cursor: none;
}

.nav-menu {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 40px;
  text-align: center;
  width: 100%;
  justify-self: end;
  position: absolute;
  top: 81px;
  background: var(--gray);
  left: -100%;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 100;  
  list-style: none;

}

.nav-links {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: table;
  padding-top: 10px;

}

.nav-links-btn {
  
  padding: 0;
  border-top: solid 1px var(--white);
  border-radius: 0;
  background-color: var(--gray);
  color: var(--white);
  transition: all 0.4s easy-out;
  padding-top: 10px;
}

.nav-links-btn:hover {
  color: black;
  border:none;
  padding: 0;
  border-radius: 0;
  background: var(--yellow);
  color: var(--darkgray);
  transition: all 0.4s easy-out; 
}


/*Filtros*/

.nav-filter-container { 
  width: 100%;
  height: 65px;
  background-color: var(--ligthgray);
  
}

.navbar-filter {
  display: grid;
  grid-template-columns:  0.1fr  1fr auto 1fr;
  align-items: left;
  height: 100%;
  max-width: 1720 px;
  width: 100%;
  border-bottom: 1px solid transparent ;
  border-bottom-color: #fff;
  position:relative;
}

#navbar-filter-logo { 
  color: var(--white);
  justify-self: right;
  margin-left: 20px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 1em;  
}


.nav-filter-menu {
  opacity: 0;
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  transition: all 0.5s ease;
  width: 130px;
  justify-self: start;
  position: absolute;
  left: -100%;
  border-radius: 4px;  
}

.filter-link {
  padding-left: 10px;
  padding-right: 10px;     
 }

 
.icono{ 
  margin-top: 1px;
}

.btn-buscar {
  display: flex;
  align-items:center;
}


.input-buscar {
  width: 100%;
  border: none;
  height: 30px;
  margin: 10px;
  flex-direction: row;
  border-radius: 4px;  
  padding: 14px 8px 10px;  
}

#input-buscar > input[type="search"]:focus {
  width: 200px;
  outline: none;
}


#mobile-filter-menu {  
  position: absolute;
  top:20%;
  right: 5%;
  transform: translate(5%, 20%);
}

.menu-filter-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background: var(--white);
  display: none;
  cursor: none;
}


#mobile-filter-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-filter-menu.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

#mobile-filter-menu.is-active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}


.filter-link {
color: var(--white);
text-decoration: none;
text-align: center;
line-height: 60px;
width: 100%;
display:inline;
}

.nav-links:hover {
 
  background-color: var(--yellow);
  color: var(--darkgray);
  transition: all 0.4s easy-out;
}



.menu-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background: var(--white);
  display: block;
  cursor: pointer;

}
.menu-filter-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background: var(--white);
  display: block;
  cursor: pointer;

}
.nav-menu.active {
  background: var(--gray);
  left: 0;
  opacity: 1;
  transition: all 0.5s easy;
}

.nav-filter-menu.active {
  background: var(--gray);
  left: 0;
  opacity: 1;
  /*transition: all 0.5s easy;*/
  top: 150px;
  position: fixed;
 
}


/*Carrito*/

.carrito-container {
  
  position:fixed;
  max-height: 80px;
  background: var(--white);
  border: 1px solid var(--darkgray);
  width: 280px;
  border-radius: 4px;
  padding: 5px;
  bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.carrito-flex {
  width: 70%;
  min-width: 170px;
  padding: 0;
  margin: 0 auto;
  max-width: 1720 px;
  max-height: 80px; 
  border-bottom: none ;
  border-bottom-color: none;
  padding: 6px 16px;
  padding-top: 10px;

}

.cant-productos-container{
  color: black;  
  box-sizing: border-box;
  background: var(--white);
  width: auto;
  text-align: center;
  margin-top: 10px;
  width: auto; 
}


.cant-productos-container-ver{

  width: 100%;
  height: 40px;
  text-align:center; 
  display: flex;
  margin: auto;

}



.cant-productos-container-ver a {
  color: var(--darkgray);
  text-decoration:none;
  padding: 6px 16px;
  padding-top: 10px;
  border-radius: 4px;
  border-top: none; 
}

.cant-productos-container-ver, 
.panel-ver-carrito {
   text-align: center;
   width: auto;
}  

.contenedor-listado-productos {
  display: flex;
  background: #dbcda5;
  position: relative;
  color: black; 
}




/*Grilla de Productos*/

.grid-row{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  margin-bottom: 40px;
  row-gap: 20px;
}

.producto {  
  width: 50% ;  
}

 
  .prod-imagen{
    
    background-color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    
   }

   .imagen-grilla {
    width: 100%;
    height: 100%;
   
    object-fit: cover;

   }

   
  .prod-desc {
   
    background-color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  
  }
  

  .product-name{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    min-width: 50px;
    width: 90%;
    background: var(--white);
    padding: 5px;
    text-align: center;
    
  }

  .text {
    color: black;
    width: 90%;
    box-sizing: border-box;
    background: var(--white);
    margin: 7px;    
  }

  .prod-subtotal {

    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }

  .subtotal__text-subtotal {
   
    background: var(--white);
    color: black;
    height: 35px;
    width: 90%;
    box-sizing: border-box;
    
    font-size: 22px;
    font-weight: 200;
   }


  .product-weight {
    font-size: 16px;
    font-weight: 200;
    color: var(--darkgray);    
    width: 90%;
    background: var(--white);
    text-indent: 0px;
    padding: 5px;
  }


   
  .prod-unidades-subtotal {

    grid-column: 9 / 10;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    
  }

  .prod-agregar {

    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }



  .boton-agregar {
    background-color: var(--green);
    color: #fff;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    width: 50%;
  }




  /*Unidades*/
  
  .prod-cantidad {

    grid-column: 5 / 9;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  }

  .prod-unidades{
    width: 90%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    
  }


  .opciones_radio {
    width: 1fr;
    padding: 5px;
    padding-top: 20px;
    
  }

    

  /*Cantidad*/
 
  .prod-cant {
    grid-column:  5 / 9;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;

  }
  .cant-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
   }

   .boton-cant {
    width: 30%;
   }

  .btn-cantidad {
    padding-top: 3px;
    
    border: 1px solid var(--orange);;
    color: #000;
    height: 35px;
    background-color: var(--white);
    width: 100%;
  }

  .cant-der {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

  }
  .cant-izq {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

  }

  .input-cant {
    height: 35px;
    border: 1px solid var(--gray);
    text-align: center;
    width: 30%;
    
  }
  /*Subtotal*/

  

  }
  



   /*Agregar*/



  .div-agregar {
    background-color: var(--green);
    height: 35px;
    text-align: center;
  }


  
  


 .div {
    display: block;
 }


 




   
  @media screen and (max-width: 360px) {

    .container {
     
      overflow-x: hidden;
     } 
  }  
  
  @media screen and (min-width: 768px) {

    .producto {    
      width: 20% ;      
    }
  
     .navbar {     
      width: 90%;     
      border-bottom: none ;
      border-bottom-color: none;     
    }
  
    .navbar-filter {
     
      grid-template-columns:  0.1fr  0.5fr auto 1fr;
      width: 90%;
      border-bottom: none ;
      border-bottom-color: none;   
    }
  
    #navbar-logo {     
      justify-self: start; 
      margin-left:none;      
    }
  
    
    #navbar-filter-logo{    
      justify-self: start;   
      margin-left:none;
    }
    
    .nav-menu {    
     
      grid-template-columns: repeat(5, auto);
      list-style: none;   
      width: 90%;
      left: 100%;
      opacity: 1;
      position: static; 
    
    }
  
    .nav-filter-menu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      text-align: center;
      left: 100%;
      opacity: 1;
      position: static;
    }
  
  
    .nav-filter-menu.active {
     background: var(--gray);
    left: 0;
    opacity: 1;
    transition: all 0.5s easy;
    top: 150px;
    position: static;
  
  }
  

  
  #mobile-menu {
    position: static;
    top:none;
    right: none;
  
  
  }
  #mobile-filter-menu {
    position: static;
    top:none;
    right: none;
  
  }
  
  .menu-toggle .bar {
    display: none;
  
  }
  .menu-filter-toggle .bar {
    display: none;
   
  }
  
  .input-cantidad {
    width: 60px;
  }
  
  .nav-links {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    width: auto;
    display:inline;
    padding-top: 5px;
    
    
    
  
  }
    
  .nav-links:hover {
    color: var(--orange);
    transition: all 0.2s easy-out;
    background: none;
  }
  
  .nav-links-btn {
    
    background-color: var(--orange);
    padding: 6px 16px;
    padding-top: 10px;
    border-radius: 4px;
    border-top: none;
   
  }
  
  .nav-links-btn:hover {
    background-color: transparent;
    color: var (--white);
    padding: 5px 15px;
    padding-top: 9px;
    border-radius: 4px;
    border: solid 1px var(--orange);
    transition: all 0.3s easy-out;
  
  
  }
  
  
  }

   @media screen and (min-width: 991px){
  
     .producto {  
       width: 20% ;    
      }

     .grid-header-tittle {
      font-size: 1.5em;
      }
   }