:root {
  
  --darkgray: #474543;
  --gray: #978b7b;
  --orange: #ff9000;
  --cian: #037c03;
  --yellow: #dca305;
  --terracota: rgb(238, 93, 9);
  --white: #fff;
  --green: #1eaa25;
  --ligthgray: #b8b5b2;
}



.html {
height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing:content-border;
  text-indent: 0;
  font-family: 'Manjari', sans-serif;

}




body {

background-position: 0 0;
min-width: 270px;
min-height: 100vh; /*Importante para el footer alineado abajo*/
line-height: 1.42857143;
color: #878787;
display: flex;
flex-direction: column;
align-items: left;
}

 


/*Navegador*/

.nav-container{ 
  width: 100%;
  height: 80px;
  background-color: var(--gray); 
}
   


.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  max-width: 1720 px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid transparent ;
  border-bottom-color: #fff;
  position:relative;
}

.navbar-logo{

color: var(--white);
justify-self: start;
margin-left: 20px;
cursor: pointer;
margin-left: 20px;
font-size: 1.5em;
text-decoration: none;

}


#mobile-menu {  
  position: absolute;
  top:20%;
  right: 5%;
  transform: translate(5%, 20%);
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){

  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){

  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background: var(--white);
  display: none;
  cursor: none;
}



.nav-menu {
display: grid;
grid-template-columns: auto;
text-align: center;
width: 100%;
justify-self: end;
z-index: 100;
position: absolute;
top: 80px;
background: var(--gray);
left: -100%;
opacity: 0;
transition: all 0.5s ease;

}









.nav-links {

color: var(--white);
text-decoration: none;
text-align: center;
line-height: 60px;
width: 100%;
display: table;
background: var(--darkgray);




}


.nav-links:hover {

background-color: var(--ligthgray);
color: var(--darkgray);
transition: all 0.4s easy-out;
}
.nav-links-btn {
  
  padding: 0;
  border-top: solid 1px var(--white);
  border-radius: 0;
  background-color: var(--darkgray);
  color: var(--white);
  transition: all 0.4s easy-out;

}

.nav-links-btn:hover {
border:none;
padding: 0;
border-radius: 0;
background-color: var(--ligthgray);
color: var(--darkgray);
transition: all 0.4s easy-out; 

}

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background: var(--white);
  display: block;
  cursor: pointer;

}

.nav-menu.active {
  background: var(--gray);
  left: 0;
  opacity: 1;
  transition: all 0.5s easy;
}



  
  @media screen and (min-width: 768px) {

.nav-container {
  position:static;

 
 }
 
  
     .navbar {     
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720 px;
  margin: 0 auto;
  border-bottom: none ;
  border-bottom-color: none;

    }
  

#navbar-logo {

  color: var(--white);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  margin-left:none;
  font-size: 1.5em;
 
}

  

.nav-menu {

  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 80%;
  justify-self: end;
  left: 100%;
  opacity: 1;
  position: static;
 
}

  
    
  
  
  

  
  #mobile-menu {
    position: static;
    top:none;
    right: none;
  
  
  }
  
  
  .menu-toggle .bar {
    display: none;
  
  }

  

.nav-links {
color: var(--white);
text-decoration: none;
text-align: center;
line-height: 60px;
width: 100%;
display:inline;
background: var(--gray);
    
    
    
  
  }
    
  .nav-links:hover {
    color: var(--orange);
    transition: all 0.2s easy-out;
    background: none;
  }
  
  .nav-links-btn {
    
    background-color: var(--orange);
    padding: 6px 16px;
    padding-top: 10px;
    border-radius: 4px;
    border-top: none;
   
  }
  
.nav-links-btn:hover {
background-color: transparent;
color: var (--white);
padding: 5px 15px;
padding-top: 9px;
border-radius: 4px;
border: solid 1px var(--orange);
transition: all 0.3s easy-out;
}

  

  
  



